<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'home_app/css/overall.css' %}">
    <link rel="stylesheet" href="{% static 'puzzle_app/css/style.css' %}">

    <title>The Jigsaw Registry - Puzzles</title>
</head>
<body>
    <div class="container">


            <form action="/puzzles/guided/{{puzzle.id}}/title_post" method="POST"> {% csrf_token %}
                <label for="title">Title:</label>
                <input type="text" name="title" id="title" value="{{puzzle.title}}">
                <label for="pieces_labeled">Pieces: (pieces labelled on box)</label>
                <input type="number" name="pieces_labeled" id="pieces_labeled" value="{{puzzle.pieces_labeled}}">

                <button type="submit" class="btn btn-lg btn-warning">Submit</button>
            </form>

            <h3>Title:</h3>
            <ul>
                <li>{{puzzle.title}}</li>
            </ul>
            <h3>Pieces: (on box)</h3>
            <ul>
                <li>{{puzzle.pieces_labeled}}</li>
            </ul>


      
        <a class="btn btn-sm btn-dark" href="/puzzles/guided/{{puzzle.id}}/picture">Next</a>
        <a href="/puzzles/view/{{puzzle.id}}">Full List!</a>


    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>