<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'home_app/css/overall.css' %}">
    <link rel="stylesheet" href="{% static 'puzzle_app/css/style.css' %}">

    <title>The Jigsaw Registry - Puzzles</title>
</head>
<body>
    <div class="container">

      <table>
            <tr>
                <td>Title:</td>
                <td>{{puzzle.title}}</td>
                <td><a href="/puzzles/guided/{{puzzle.id}}/title">Edit</a></td>
            </tr>
            <tr>
                <td>Pieces(labeled):</td>
                <td>{{puzzle.pieces_labeled}}</td>
                <td><a href="/puzzles/guided/{{puzzle.id}}/title">Edit</a></td>
            </tr>
            <tr>
                <td>Picture:</td>
                <td></td>
                <td><a href="/puzzles/guided/{{puzzle.id}}/picture">Edit</a></td>
            </tr>
            <tr>
                <td>Brand:</td>
                <td>{{puzzle.brand}}</td>
                <td><a href="/puzzles/guided/{{puzzle.id}}/brand">Edit</a></td>
            </tr>
            <tr>
                <td>Description:</td>
                <td>{{puzzle.desc}}</td>
                <td><a href="/puzzles/guided/{{puzzle.id}}/desc_notes">Edit</a></td>
            </tr>
            <tr>
                <td>Notes:</td>
                <td>{{puzzle.notes}}</td>
                <td><a href="/puzzles/guided/{{puzzle.id}}/desc_notes">Edit</a></td>
            </tr>
            <tr>
                <td>Categories:</td>
                <td>
                    <ul>
                        {% for category in puzzle.categories.all %}
                            <li>{{category.name}}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td><a href="/puzzles/guided/{{puzzle.id}}/categories">Edit</a></td>
            </tr>
            <tr>
                <td>Measurements:</td>
                <td>{{puzzle.width}} in. x {{puzzle.height}} in.</td>
                <td><a href="/puzzles/guided/{{puzzle.id}}/measures">Edit</a></td>
            </tr>
            <tr>
                <td>Actual Piece Count:</td>
                <td>{{puzzle.pieces_actual}}</td>
                <td><a href="/puzzles/guided/{{puzzle.id}}/pieces">Edit</a></td>
            </tr>
            <tr>
                <td>Missing Pieces:</td>
                <td>{{puzzle.missing_pieces}} missing pieces</td>
                <td><a href="/puzzles/guided/{{puzzle.id}}/pieces">Edit</a></td>
            </tr>
            <tr>
                <td>Ownership of Puzzle:</td>
                <td>{{ownage}}</td>
                <td><a href="/puzzles/guided/{{puzzle.id}}/owned">Edit</a></td>
            </tr>
            <tr>
                <td>Completion:</td>
                <td>{{completed}}</td>
                <td><a href="/puzzles/guided/{{puzzle.id}}/completion">Edit</a></td>
            </tr>
            <tr>
                <td>Completions:</td>
                <td>{{puzzle.completions}}</td>
                <td><a href="/puzzles/guided/{{puzzle.id}}/completion">Edit</a></td>
            </tr>
            <tr>
                <td>Initial Completion:</td>
                <td>{{initial}}</td>
                <td><a href="/puzzles/guided/{{puzzle.id}}/completion">Edit</a></td>
            </tr>







      </table>










    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>