/* * {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: top;
    outline: 1px dotted red;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.container {
    width: 970px;
    height: 900px;
    margin: 0 auto;

    background-color: yellowgreen;
} */



.thumbnail {
  position: relative;
  width: 150px;
  height: 100px;
  overflow: hidden;
}

img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}

















@media only screen and (max-width: 480px) {

 
    
}
    
@media only screen and (min-width: 481px) {



}
    
@media only screen and (min-width: 1024px) {



}