* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: top;
    /* outline: 1px dotted red; */
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.container {
    width: 970px;
    min-height: 700px;
    margin: 0 auto;
    font-size: 15px;
    background-color: yellowgreen;
}

.card {
    width: 30%;
    display: inline-block;
    margin: 10px auto;
    background-color: brown;
}






















@media only screen and (max-width: 480px) {

 
    
}
    
@media only screen and (min-width: 481px) {



}
    
@media only screen and (min-width: 1024px) {



}